:root {
  --largura: clamp(10rem, 95%, 40rem);
  --altura: calc(var(--largura) / 2);
}

.canvas-wrapper {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

#lottie {
  width: var(--largura);
  overflow: hidden;
  transform: scale(3);
}
