:root {
  --largura: clamp(10rem, 140vw, 40rem);
  --altura: calc(var(--largura) * 0.6);
}

.canvas-wrapper {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

#lottie {
  width: var(--largura);
  height: var(--altura);
  overflow: hidden;
}
