:root {
  --largura: clamp(500px, 40rem, 100%);
  --altura: calc(var(--largura) / 2);
}

.canvas-wrapper {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

#lottie {
  width: var(--largura);
  height: var(--altura);
  overflow: hidden;
}
